.App {
  text-align: center;
}

.App-logo {
  position: relative;
  width: 30vh;
  height: 30vh;
  pointer-events: none;
}

.Nav-logo {
  width: 7vh;
  height: 7vh;
  padding-left: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s;
  }
}

.App-header {
  background-color: #477594;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color:rgb(255, 255, 255) !important;
}

.active {
  color:rgb(187, 241, 255) !important;
}